<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Maintanence Screen</title>
<link rel="stylesheet" type="text/css" href="/pccw/bootstrap-3.2.0.min.css" />
<script src="/pccw/bootstrap-3.2.0.min.js" type="text/javascript"></script>
<script src="/pccw/jquery-2.1.1.min.js" type="text/javascript"></script>
</head>

<script type="text/javascript">
/* <![CDATA[ */
$(function() {
	$("#clearButton").click(function() {
		$("#urlid").val("");
		$("#requestbody").val("");
		$("#responsebody").val("");
		$("#response").val("");
	});
});

/* ]]> */


</script>

<body>
	<div class="col-md-12">
		<form id="home" action="#" th:action="@{/home}"
			th:object="${request}" method="post" class="form-horizontal">
			   <div class="col-md-12"><br/></div>
			   <div class="col-md-12">
					<div class="col-md-2">
						<label class="control-label">Method</label>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-2">
						<select id="choices" class="form-control" th:field="*{method}">
							<option value="GET">GET</option>
							<option value="POST">POST</option>
							<option value="PUT">PUT</option>
							<option value="DELETE">DELETE</option>
						</select>
					</div>
					<div class="col-md-2">
						<button type="submit" name="action" value="send"  class="btn btn-primaryname" id="sendButton">Send</button>
						<button type="button" class="btn btn-primaryname" name="action" value="clear" id="clearButton">Clear</button>
						
					</div>
				</div>
				<div class="col-md-12"><br/></div>
				<div class="col-md-12">
					<div class="col-md-2">
						<label class="control-label">Request URL</label>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-8">
						<input type="text" class="col-md-5 form-control" id="urlid" th:field="*{url}" maxlength="200"></input>
					</div>
				</div>
				<div class="col-md-12"><br/></div>
				<div class="col-md-12" id="divbodyid">
					<div class="col-md-2">
						<label class="control-label">Request Body</label>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-8">
							<textarea class="form-control" style="resize: vertical"
								th:id="requestbody"
								maxlength="200" rows="14" cols="50"
								th:field="*{body}">
						   </textarea>
					</div>
				</div>
				<div class="col-md-12"><br/></div>
				<div class="col-md-12"><br/></div>
				<div class="col-md-12"><br/></div>
				<div class="col-md-12">
					<div class="col-md-2">
						<label class="control-label">Response Status</label>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-8">
						<input type="text" class="form-control" id="response" th:field="*{responsestatus}" maxlength="200" disabled="disabled"></input>
					</div>
				</div>
				<div class="col-md-12"><br/></div>
				<div class="col-md-12" id="divbodyid">
					<div class="col-md-2">
						<label class="control-label">Response Body</label>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-8">
							<textarea class="form-control"  style="resize: vertical"
								th:id="responsebody"
								maxlength="200" rows="14" cols="50" disabled="disabled"
								th:field="*{responsebody}">
						   </textarea>
					</div>
				</div>
		</form>
	</div>
</body>
</html>